
<!DOCTYPE html>

<html lang = "en" >

  <head>

    <meta charset = "UTF-8" >

    <meta name = "viewport" content = "width=device-width , initial-scale=1.0" >

    <title>

      Add ToDo

    </title>

  </head>

  <body>

    <div class = "container" >
      
      <h1 class = "title" >
        
        Add ToDo

      </h1>

      <div class = "addToDo" >
        
        <form action = "" method = "POST" >
          
          <input type = "text" name = "name" >

          <textarea name = "about" ></textarea>

          <input type = "submit" value = "Submit" >

        </form>

        <a href = "" >
          
          Back To ToDos!

        </a>

      </div>

    </div>

  </body>

</html>
