
<%- include ( 'header' ) ; -%>

  <body>

    <div class = "container" >
      
      <h1 class = "title" >
        
        <%= getTodo.name %>

      </h1>

      <div class = "view" >
        
        <p class = "todo" >
          
          <%= getTodo.about %>

        </p>

        <a class = "addBtn" href = "/" >
        
          Back

        </a>

      </div>

    </div>

  </body>

<%- include ( 'footer' ) ; -%>
