
<!DOCTYPE html>

<html lang = "en" >

  <head>

    <meta charset = "UTF-8" >

    <meta name = "viewport" content = "width=device-width , initial-scale=1.0" >

    <title>

      ToDo

    </title>

  </head>

  <body>

    <div class = "container" >
      
      <h1 class = "title" >
        
        ToDo

      </h1>

      <div class = "todo" >
        
        <p>
          
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non pharetra velit. Praesent eu mattis sapien, ac pulvinar dolor. Mauris pulvinar lacus sit amet tempor porta.

        </p>

        <a href = "/" >
        
          Back To ToDos

        </a>

      </div>

    </div>

  </body>

</html>
