
<!DOCTYPE html>

<html lang = "en" >

  <head>

    <meta charset = "UTF-8" >

    <meta name = "viewport" content = "width=device-width , initial-scale=1.0" >

    <title>

      ToDo

    </title>

  </head>

  <body>

    <div class = "container" >
      
      <h1 class = "title" >
        
        <%= getTodo.name %>

      </h1>

      <div class = "todo" >
        
        <p>
          
          <%= getTodo.about %>

        </p>

        <a href = "/" >
        
          Back To ToDos

        </a>

      </div>

    </div>

  </body>

</html>
