
<!DOCTYPE html>

<html lang = "en" >

  <head>

    <meta charset = "UTF-8" >

    <meta name = "viewport" content = "width=device-width , initial-scale=1.0" >

    <title>

      todos

    </title>

  </head>

  <body>

    <div class = "container" >
      
      <h1 class = "title" >
        
        Todos

      </h1>

      <a href = "" >
        
        Add ToDo

      </a>

      <div class = "todos" >
        
        <ol>
          
          <li>
            
            <a href = "" >
        
              Go to the gym

            </a>

            <a href = "" >
        
              More

            </a>

            <a href = "" >
        
              Discard

            </a>

          </li>

        </ol>

      </div>

    </div>

  </body>

</html>
